//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 26 16:20:50 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CHIP_OUT<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "CHIP_OUT<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "CHIP_OUT<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "CHIP_OUT<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "CHIP_OUT<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "CHIP_OUT<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "CHIP_OUT<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "CHIP_IN<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "CHIP_IN<1>" LOCATE = SITE "N3" LEVEL 1;
COMP "TUBE_IN<0>" LOCATE = SITE "G12" LEVEL 1;
COMP "TUBE_IN<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "TUBE_IN<2>" LOCATE = SITE "M4" LEVEL 1;
COMP "TUBE_IN<3>" LOCATE = SITE "A7" LEVEL 1;
COMP "SCIN_COINC" LOCATE = SITE "P11" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "CHIP_OUT<0>" LOCATE = SITE "M5" LEVEL 1;
NET "CLK_IBUF" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

